{% extends "layout.html.j2" %}
{% block title %}Config - nb-email-templating{% endblock %}
{% block content %}
<h1>Configuration (secrets redacted)</h1>
<section class="panel">
  <pre>{{ config_redacted }}</pre>
</section>
{% endblock %}
